<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

	<servers>
		
	</servers>

	<profiles>
		<profile>
			<id>external</id>
			<repositories>
				<repository>
					<id>mvn-repository</id>
					<name>MVN repository</name>
					<url>http://central.maven.org/maven2/</url>
					<layout>default</layout>
				</repository>
			</repositories>
		</profile>
	</profiles>

	<activeProfiles>
		<activeProfile>external</activeProfile>
	</activeProfiles>

</settings>